set_io  sel 13
set_io  clk 18
set_io  rst 19
set_io  high 21
set_io  in7 2
set_io  in6 3
set_io  in5 4
set_io  in4 6
set_io  in3 9
set_io  in2 10
set_io  in1 11
set_io  in0 12
set_io  out7 37
set_io  out6 36
set_io  out5 35
set_io  out4 34
set_io  out3 32
set_io  out2 31
set_io  out1 28
set_io  out0 27